# gradle
.gradle/
build/

bin
distr
*.log
*.dot
*.stackdump
generated
/.metadata
.classpath
.project
.settings
!/WorkcraftRunner/.classpath
!/WorkcraftRunner/.project
*.orig
*.moved
*.BASE
*.OTHER
*.THIS
RE:\.?[^.]+
