# Private plugins and distribution templates
/workcraft-*/
/dist/template-*/

# Gradle
/.gradle/
/build/
/workcraft/*/build/

# Distribution result
/dist/result/

# Eclipse
/.metadata
/.recommenders
/workcraft/*/.classpath
/workcraft/*/.project
/workcraft/*/.settings

# InteliJ IDEA
/.shelf/
/workcraft.iml
/workcraft.ipr
/workcraft.iws
/workcraft/*/*.iml

# Generated source files
/workcraft/*/src-gen/

# Platform-specific execution environment, e.g. tools and docs
# (usually symlinks to ./dist/template/*/ and ./dist/doc/)
/help
/libraries
/overview
/tools
/tutorial

# Crash dumps and temporary files
/*.hprof
.DS_Store
