Alberto Moreno <albertomv@cs.upc.edu>
Alex Chan <alexchankaiyin@gmail.com>
Alessandro de Gennaro <alex10.dege@gmail.com>
Alessandro de Gennaro <a.de-gennaro@ncl.ac.uk>
Bowen Li <libowen96@hotmail.com>
Frank Burns <frank.burns@newcastle.ac.uk>
Jonny Beaumont <jonathan.r.beaumont@gmail.com>
Jonny Beaumont <jonathan.r.beaumont@gmail.com> <jonathan.r.beaumont@googlemail.com>
