<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE module PUBLIC
    "-//Puppy Crawl//DTD Check Configuration 1.2//EN"
    "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">
<module name="Checker">

    <property name="charset" value="UTF-8"/>

    <property name="fileExtensions" value="java, properties, xml"/>

    <module name="FileTabCharacter">
        <property name="eachLine" value="true"/>
    </module>

    <module name="RegexpSingleline">
        <property name="format" value="\s+$" />
        <property name="message" value="Line has trailing spaces." />
    </module>

    <module name="TreeWalker">
        <module name="OuterTypeFilename"/>
        <!--<module name="OneTopLevelClass"/>-->
        <module name="NoLineWrap" />
        <module name="PackageName" />

        <module name="UnusedImports" />
        <module name="RedundantImport" />

        <module name="NoWhitespaceAfter" />
        <module name="NoWhitespaceBefore" />

        <module name="FinalClass" />

        <module name="ArrayTypeStyle" />
        <module name="ArrayTrailingComma" />
        <module name="UpperEll" />
    </module>

</module>
