<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE module PUBLIC
    "-//Puppy Crawl//DTD Check Configuration 1.2//EN"
    "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">
<module name="Checker">

    <property name="charset" value="UTF-8"/>

    <property name="fileExtensions" value="java"/>

    <module name="FileTabCharacter">
        <property name="eachLine" value="true"/>
    </module>

    <module name="RegexpSingleline">
        <property name="format" value="\s+$" />
        <property name="message" value="Line has trailing spaces." />
    </module>

    <module name="TreeWalker">
        <module name="OuterTypeFilename"/>
        <module name="OneTopLevelClass"/>
        <module name="NoLineWrap" />

        <module name="PackageName" />
        <module name="LocalFinalVariableName" />
        <module name="LocalVariableName" />
        <module name="MemberName" />
        <module name="MethodName" />
        <module name="ParameterName" />
        <module name="StaticVariableName" />
        <module name="TypeName" />

        <module name="Indentation">
            <property name="basicOffset" value="4"/>
            <property name="braceAdjustment" value="0"/>
            <property name="caseIndent" value="0"/>
            <property name="throwsIndent" value="8"/>
            <property name="lineWrappingIndentation" value="8"/>
            <property name="arrayInitIndent" value="4"/>
        </module>
        <module name="EmptyLineSeparator">
            <property name="tokens" value="IMPORT, CLASS_DEF, INTERFACE_DEF"/>
            <property name="allowMultipleEmptyLines" value="false" />
        </module>

        <module name="OneStatementPerLine" />

        <module name="UnusedImports" />
        <module name="RedundantImport" />

        <module name="SeparatorWrap">
            <property name="tokens" value="DOT" />
            <property name="option" value="nl"/>
        </module>
        <module name="SeparatorWrap">
            <property name="tokens" value="COMMA"/>
            <property name="option" value="EOL"/>
        </module>
        <module name="NoLineWrap"/>

        <module name="GenericWhitespace" />
        <module name="EmptyForIteratorPad" />
        <module name="MethodParamPad" />
        <module name="NoWhitespaceAfter" />
        <module name="NoWhitespaceBefore" />
        <module name="ParenPad" />
        <module name="TypecastParenPad" />
        <module name="UnnecessaryParentheses" />
        <module name="WhitespaceAfter" />
        <module name="WhitespaceAround" />

        <module name="ModifierOrder" />
        <module name="RedundantModifier" />

        <module name="AvoidNestedBlocks" />
        <module name="RightCurly"/>
        <module name="RightCurly">
            <property name="option" value="alone"/>
            <property name="tokens" value="CLASS_DEF, METHOD_DEF, CTOR_DEF, LITERAL_FOR, LITERAL_WHILE, STATIC_INIT, INSTANCE_INIT"/>
        </module>
        <module name="NeedBraces">
            <property name="allowSingleLineStatement" value="true"/>
        </module>

        <module name="FinalClass" />

        <module name="ArrayTypeStyle" />
        <module name="ArrayTrailingComma" />
        <module name="UpperEll" />
    </module>

</module>
